.kartya {
  background-color: rgb(144, 151, 192, 0.8);
  border: 3px solid;
  border-image: linear-gradient(to right, #5e628e, #705d56) 1;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  margin: 5px;
  text-align: center; /* Középre igazítja a szöveget */
  width: 180px;
}

.kartya:hover {
  transform: scale(1.05);
}

.kartya img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.kartya h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.kartya p {
  font-size: 1rem;
  margin: 5px;
}

.kartya .alsosor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kosarBtn {
  background-color: #2e3138;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kosarBtn:hover, .delBtn:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  color: #503b31;
  text-shadow: 2px 2px white;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kosar {
  background-color: rgb(255, 255, 255, 0.4);
  justify-content: center;
}

li {
  list-style-type: none;
  padding: 5px;
  background-color: rgb(144, 151, 192);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  width: 300px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delBtn {
  background-color: #2e3138;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  margin-top: 3px;
}
